Repository t4kamura/govalid: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, test, golden-file, gomod, gomod-tools, gomod-test

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      run: make golangci-lint
      glob: "*.go"
    test:
      run: make test
      glob: "*.go"
    golden-file:
      run: |-
        go test ./internal/analyzers/govalid -update
        git diff --exit-code
      glob: "*.go"
    gomod:
      run: go mod tidy -diff
      glob: "{go.mod,go.sum}"
    gomod-tools:
      root: tools
      run: go mod tidy -diff
      glob: "tools/{go.mod,go.sum}"
    gomod-test:
      root: test
      run: go mod tidy -diff
      glob: "test/{go.mod,go.sum}"

fix README
  README.md
Due: none

always run sync-benchmark workflow
  .github/workflows/benchmark-sync.yaml
  Makefile
  scripts/check-benchmark-sync.sh
Due: none

update template
  .github/pull_request_template.md
Due: none

fix benchmark workflow permission and code
  .github/workflows/benchmark-sync.yaml
  scripts/sync-benchmarks.sh
  test/benchmark/benchmark_alpha_test.go
Due: golangci-lint, test, golden-file

Sync benchmark results
  docs/content/_index.md
  docs/content/benchmarks.md
  test/benchmark/README.md
Due: none

improve benchmark script
  docs/content/_index.md
  docs/content/benchmarks.md
  docs/hugo.toml
  scripts/sync-benchmarks.sh
  test/benchmark/README.md
Due: none

update doc
  docs/content/_index.md
  scripts/sync-benchmarks.sh
  test/benchmark/README.md
Due: none

Sync benchmark results
  test/benchmark/README.md
Due: none

add lefthook tools & Makefile
  Makefile
  tools/go.mod
  tools/go.sum
Due: gomod-tools

set lefthook config file
  lefthook.yaml
Due: none

doc lefthook
  README.md
Due: none

fix new line
  lefthook.yaml
Due: none

Handle multiple marker (#125)
  internal/analyzers/govalid/govalid_test.go
  internal/analyzers/govalid/testdata/src/multiple_markers/govalid.golden
  internal/analyzers/govalid/testdata/src/multiple_markers/multiple_markers.go
  internal/analyzers/markers/markers.go
Due: golangci-lint, test, golden-file

fix golden test
  internal/analyzers/govalid/testdata/src/multiple_markers/govalid.golden
Due: none

add deprecation notice
  internal/analyzers/govalid/testdata/src/gt/govalid.golden
  internal/analyzers/govalid/testdata/src/gte/govalid.golden
  internal/analyzers/govalid/testdata/src/length/govalid.golden
  internal/analyzers/govalid/testdata/src/lt/govalid.golden
  internal/analyzers/govalid/testdata/src/lte/govalid.golden
  internal/analyzers/govalid/testdata/src/maxitems/govalid.golden
  internal/analyzers/govalid/testdata/src/maxlength/govalid.golden
  internal/analyzers/govalid/testdata/src/minitems/govalid.golden
  internal/analyzers/govalid/testdata/src/minlength/govalid.golden
  internal/analyzers/govalid/testdata/src/nestedstruct/inside/govalid.golden
  internal/analyzers/govalid/testdata/src/required/govalid.golden
  internal/validator/rules/alpha.go
  internal/validator/rules/cel.go
  internal/validator/rules/email.go
  internal/validator/rules/enum.go
  internal/validator/rules/gt.go
  internal/validator/rules/gte.go
  internal/validator/rules/length.go
  internal/validator/rules/lt.go
  internal/validator/rules/lte.go
  internal/validator/rules/maxitems.go
  internal/validator/rules/maxlength.go
  internal/validator/rules/minitems.go
  internal/validator/rules/minlength.go
  internal/validator/rules/numeric.go
  internal/validator/rules/required.go
  internal/validator/rules/url.go
  internal/validator/rules/uuid.go
Due: golangci-lint, test, golden-file

fix: use pull_request_target as trigger to prevent execute unsafe code from the head of the PR
  .github/workflows/go-vulncheck.yaml
Due: none

fix: checkout with ref
  .github/workflows/go-vulncheck.yaml
Due: none

fix: remove govlncheck id
  .github/workflows/go-vulncheck.yaml
Due: none

fix: use captical letter for workflow name
  .github/workflows/go-vulncheck.yaml
Due: none

chore: add govulncheck workflow
  .github/workflows/go-vulncheck.yaml
Due: none

fix: comment uppercase
  .github/workflows/go-vulncheck.yaml
Due: none

doc: add comment to validator
  validator.go
Due: golangci-lint, test, golden-file

doc: add validator interface to README
  README.md
Due: none

fix: make lint fix
  validation/middleware/middleware.go
  validation/middleware/middleware_test.go
Due: golangci-lint, test, golden-file

feat: add validate to validation.go.tmpl
  internal/analyzers/govalid/templates/validation.go.tmpl
  validator.go
Due: golangci-lint, test, golden-file

test: add validator test
  test/unit/validator_test.go
Due: golangci-lint, test, golden-file

fix: add comment to middleware
  validation/middleware/middleware.go
Due: golangci-lint, test, golden-file

fix: add comments to fixture.go
  validation/middleware/fixture/fixture.go
Due: golangci-lint, test, golden-file

fix: move testfixutre package to internal
  validation/middleware/internal/testfixture/fixture.go
  validation/middleware/internal/testfixture/fixture_personrequest_validator.go
  validation/middleware/middleware_test.go
Due: golangci-lint, test, golden-file

fix: add go build ignore tag
  validation/middleware/middleware_test.go
  validation/middleware/testfixture/fixture.go
  validation/middleware/testfixture/fixture_personrequest_validator.go
Due: golangci-lint, test, golden-file

docs: fix validator comments
  validator.go
Due: golangci-lint, test, golden-file

feat: add ValidateRequest to middleware
  README.md
  validation/middleware/fixture/fixture.go
  validation/middleware/fixture/fixture_personrequest_validator.go
  validation/middleware/middleware.go
  validation/middleware/middleware_test.go
Due: golangci-lint, test, golden-file

fix: fix tag name to middleware_test
  Makefile
  validation/middleware/middleware_test.go
  validation/middleware/testfixture/fixture.go
  validation/middleware/testfixture/fixture_personrequest_validator.go
Due: golangci-lint, test, golden-file

test: update golden files
  internal/analyzers/govalid/testdata/src/alpha/govalid.golden
  internal/analyzers/govalid/testdata/src/cel/govalid.golden
  internal/analyzers/govalid/testdata/src/email/govalid.golden
  internal/analyzers/govalid/testdata/src/enum/govalid.golden
  internal/analyzers/govalid/testdata/src/gt/govalid.golden
  internal/analyzers/govalid/testdata/src/gte/govalid.golden
  internal/analyzers/govalid/testdata/src/length/govalid.golden
  internal/analyzers/govalid/testdata/src/lt/govalid.golden
  internal/analyzers/govalid/testdata/src/lte/govalid.golden
  internal/analyzers/govalid/testdata/src/maxitems/govalid.golden
  internal/analyzers/govalid/testdata/src/maxlength/govalid.golden
  internal/analyzers/govalid/testdata/src/minitems/govalid.golden
  internal/analyzers/govalid/testdata/src/minlength/govalid.golden
  internal/analyzers/govalid/testdata/src/nestedstruct/inside/govalid.golden
  internal/analyzers/govalid/testdata/src/nestedstruct/partial/govalid.golden
  internal/analyzers/govalid/testdata/src/numeric/govalid.golden
  internal/analyzers/govalid/testdata/src/required/govalid.golden
  internal/analyzers/govalid/testdata/src/url/govalid.golden
  internal/analyzers/govalid/testdata/src/uuid/govalid.golden
Due: none

test: go generate test files
  test/marker_alpha_validator.go
  test/marker_cel_validator.go
  test/marker_celcrossfield_validator.go
  test/marker_email_validator.go
  test/marker_enum_validator.go
  test/marker_gt_validator.go
  test/marker_gte_validator.go
  test/marker_length_validator.go
  test/marker_lt_validator.go
  test/marker_lte_validator.go
  test/marker_maxitems_validator.go
  test/marker_maxlength_validator.go
  test/marker_minitems_validator.go
  test/marker_minlength_validator.go
  test/marker_multipleerrors_validator.go
  test/marker_numeric_validator.go
  test/marker_required_validator.go
  test/marker_url_validator.go
  test/marker_uuid_validator.go
Due: golangci-lint, test, golden-file
